  
@model IEnumerable<Prototipo_Niconuts.Models.Producto>

@{
    ViewData["Title"] = "Index";
}

<h1>Administrar Productor</h1>

<p>
    <a asp-action="CrearProducto">Crear Nuevo Producto</a>
</p>
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.Imagen)" height="60" width="60" alt="">
            </td>
            <td>
                <a asp-action="EditarProducto" asp-route-id="@item.id"><span class="oi oi-pencil"></span></a>   |  
                <a asp-action="Delete" asp-route-id="@item.id" class="text-danger ml-1" onclick="return confirm('¿Seguro que quieres eliminar el producto?')"><i class="oi oi-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>