@model IEnumerable<Prototipo_Niconuts.Models.Proforma>

@{
    ViewData["Title"] = "Carrito";
}


<div class="container">
    <h1>Carrito de Compras</h1>
    <table class="table">
        <thead>
            <tr>
                <th class="text-center">
                    Imagen del Producto
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Producto.Nombre)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Cantidad)
                </th>
                <th class="text-center">
                    Precio
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    <div class="text-center">
                        <img src="@Html.DisplayFor(modelItem => item.Producto.Imagen)" width="65px" height="65px" alt="">
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Producto.Nombre)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td class="text-center">
                    S/ @Html.DisplayFor(modelItem => item.SubTotal)
                </td>
                <td class="text-center">
                    <a asp-action="EditarProforma" asp-route-id="@item.Id" style="color: #000;" ><span class="oi oi-pencil"></span></a> |
                    <a asp-action="DeletePC" asp-route-id="@item.Id" style="color: #D52F0B;" ><span class="oi oi-x"></span></a>
                </td>
            </tr>
            
    }
        </tbody>
        <tfoot>
            <p></p>
        </tfoot>
    </table>
         
    <div class="text-right">
        <a href="ResumenCompra"> <button class="btn btn-outline-success"> Resumen de Compra</button></a>
        <a href="MetodoDePago"><button class="btn btn-outline-success"  >Comprar</button></a>
    </div>
<br>
</div>
<br>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/proform.css" />